@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1500px;
    }
}

.vote-card {
    width: 60px;
    height: 100px;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;

    .front, .back {
        background: #fff;
        border: 2px solid #0dcaf0;
        border-radius: 6px;
        color: #0dcaf0;
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .front.disabled {
        opacity: 0.3;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .front:not(.disabled):hover {
        transform: scale(1.2, 1.2);
    }
}


.vote-card:not(.voted) .back::after {
    content: "?";
}

.vote-card.voted .back {
    background: linear-gradient(90deg, #673ab7 0%, #6374ca 35%, #00b9ff 100%);

    &:not(.finished)::after {
        content: '\2713';
        font-weight: bolder;
        color: #48ff96;
    }
}

/* Vote */
.vote {
    display: flex;
    justify-content: center;

    .vote-card .front {
        background: #ffffee;
        transition: transform 250ms;
    }

    .vote-card.active .front {
        transform: translateY(-20px);
        background: #0dcaf0;
        color: #fff;
    }
}


/* Participants votes */
.votes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .wrapper .name {
        text-align: center;
        margin-top: 5px;
    }

    .vote-card {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        perspective: 1000px;

        .front, .back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            top: 0;
            left: 0;

            .front {
                transform: rotateY(180deg);
            }
        }
    }
}

.votes.show .vote-card {
    transform: rotateY(180deg);
}

/* Show votes button */
.votes-show button {
    flex: 1 1 0;
    margin: 0 10px;
}

#vote-result ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-error {
    font-size: 12px;
}
